{% extends 'base.html' %}
{% block content %}

<h4>Hai {{ user_name }}!!! Selamat datang di</h4>
<h1>{{ shop_name }}</h1>
<h5>Oleh {{ student_name }} dari kelas {{ class }}</h5>
<p>Produk termurah siap dikirim ke mana pun Anda berada!</p>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% if not product_list %}
<p>Station Eleven masih melakukan restock!</p>
{% else %}
<table>
    <thead>
    <tr>
        <th>Nama Produk</th>
        <th>Deskripsi</th>
        <th>Harga</th>
        <th>Stok</th>
    </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
        <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{% url 'main:create_product_list' %}">
<button>Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}